@using Abp.Application.Services.Dto
@using Abp.Authorization.Users
@using MPACore.PhoneBook.PhoneBooks.Dtos
@using MPACore.PhoneBook.Web.Startup
@model MPACore.PhoneBook.Web.Models.Persons.PersonsViewModel
@{
    ViewBag.CurrentPageName = PageNames.Persons; // The menu item will be active for this page.
}
@section scripts
    {
    <environment names="Development">
        <script src="~/view-resources/Views/Persons/Index.js" asp-append-version="true"></script>
    </environment>
   

}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
               联系人
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-block"><i class="material-icons">refresh</i>Refresh</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
          
                <div class="row ">
                 
                    <table id="PersonsTable" class="display table table-striped table-bordered table-hover  nowrap">
                        <thead>
                        <tr>
                            <th>操作</th>

                            <th>@L("Name")</th>

                            <th>@L("EmailAddress")</th>

                            <th>@L("Address")</th>
                        </tr>
                        </thead>
                    </table>


                </div>

                <button type="button" id="CreateNewPersonButton" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right">
                    <i class="material-icons">add</i>
                </button>

            </div>
        </div>
    </div>
</div>
 
